@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #364354;
}

.container {
    min-height: 500px;
    max-height: 600px;
    padding: 10px;
    max-width: 430px;
    border: 1px solid #34495e;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495e;
}

.footer {
    color: #dd5;
    margin-top: auto;
    text-align: center;
}

.footer i {
    font-size: 1.2em;
    margin: 0 6px;
    transition: transform 0.5s ease-out;
}

.footer i:hover {
    transform: rotate(360deg);
}

a {
    color: #dd5;
}



textarea {
    background-color: #34495e;
    color: #dd5;
    border: none;
    outline: none;
    resize: none;
    width: 28em;
    height: 40em;
    padding: 2px;
    font-family: Segoe UI;
    font-size: 15px;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px #34495e;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #46637f;
}

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: 0.5em;
}
.rwd-table td:last-child {
    padding-bottom: 0.5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th,
.rwd-table td {
    text-align: left;
}
@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

.rwd-table {
    background: #34495e;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}
.rwd-table tr {
    border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
}

@media (max-width: 479px) {
    textarea {
        height: 30em;
        width: 20em;
    }
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}


